## Test the hypothesis that the mean scores of all the students are the same. If not, name the student with the highest score.

In [1]:
import pandas as pd
import numpy as np 
from scipy import stats

df = pd.DataFrame()

df['Name'] = ['Karan' , 'Deepa' , 'Karthik', 'Chandan', 'Jeevan']
df['Exam 1'] = [85,70,90,75,95]
df['Exam 2'] = [90,89,85,70,92]
df['Final Exam'] = [92,85,88,75,96]
df.set_index('Name')

         Exam 1  Exam 2  Final Exam
Name
Karan        85      90          92
Deepa        70      89          85
Karthik      90      85          88
Chandan      75      70          75
Jeevan       95      92          96

1. H0 = The null hypothesis for the one-way ANOVA test is that the mean scores of all the students are the same
   H1 = The alternate hypothesis is mean scores of all the students are not same
2. alpha = 0.05 
3. Decision boundry :If the p-value is less than the chosen significance level (e.g., 0.05), we reject the null hypothesis and conclude that there are significant differences in the mean scores among the groups.

In [2]:
# 4
# Perform one-way ANOVA test
statistic, p_value = stats.f_oneway(df['Exam 1'], df['Exam 2'], df['Final Exam'])

# Print the results
print("One-way ANOVA test results:")
print("Statistic:", statistic)
print("p-value:", p_value)

One-way ANOVA test results:
Statistic: 0.264905962384954
p-value: 0.7716496493298088

5. p value is 0.771649 which is < 0.05 , hence we reject null hypothesis H0 and conclude that there are changes in mean scores among the groups

In [9]:
print(f"{df[df['Final Exam'] == df['Final Exam'].max()]}")

     Name  Exam 1  Exam 2  Final Exam
4  Jeevan      95      92          96